{% extends 'layout2.html'%} {%block content%}

<body>
  <div class="container-md">
    <h1>Case List</h1>
    <hr>

    {% for case in cases %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ case[1] }}</h5>
        <p class="card-text">
          <strong>Author:</strong> {{ case[3] }} {{ case[4] }}<br>
          <strong>Date Created:</strong> {{ case[2].strftime('%B %d, %Y') }}<br>
          <strong>ID:</strong> {{ case[0] }}<!-- <br> -->
          <!-- <strong>Level:</strong> {{ case[5] }} -->
        </p>
        <div class="d-flex justify-content-end">
          {% if userLevel >= case[5] %}
          <a href="#" class="btn btn-primary me-2"><i class="fas fa-edit"></i> Edit</a>
          {% endif %}
          <a href="#" class="btn btn-primary me-2"><i class="fas fa-eye"></i> View</a>
          <a href="#" class="btn btn-primary"><i class="fas fa-download"></i> Download</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>
{%endblock content%}