{% extends 'layout2.html'%} {%block content%}

<!DOCTYPE html>
<html>

<head>
  <title>Case Information</title>
  {{ ckeditor.load() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
  <div class="container-sm">
    <h1>Case Information</h1>
    <form action="/api/case_create" method="POST">
      <div class="form-group">
        <label for="case_number">Case Number:</label>
        <input type="number" class="form-control" id="case_number" name="case_number" required>
      </div>
      <div class="form-group">
        <label for="case_charge">Case Charge:</label>
        <input type="text" class="form-control" id="case_charge" name="case_charge" required>
      </div>
      <div class="form-group">
        <label for="case_article">Case Article:</label>
        <!-- <input type="text" class="form-control" id="case_verdict" name="case_verdict" required> -->
        <select class="form-select" name="case_article" required>
          <option value="" disabled selected>Select Article</option>
          {% for article in articles %}
          <option value="{{ article }}">{{ article }}</article>
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="case_proceed_number">Case Preceeding Number (Optional):</label>
        <input type="text" class="form-control" id="case_preceed_number" name="case_preceed_number">
      </div>
      <!-- <h2>Add your text</h2>
      {{ ckeditor.create(name="editor") }} -->
      <div class="form-group" id="case_users">
        <label for="case_users">User Emails:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter User Email" name="case_users[]" required>
          <select class="form-select" name="case_roles[]" required>
            <option value="" disabled selected>Select Role</option>
            {% for role in roles %}
            <option value="{{ role }}">{{ role }}</option>
            {% endfor %}
          </select>
          <button class="btn btn-secondary" type="button"
            onclick="this.parentNode.parentNode.removeChild(this.parentNode)">Remove User</button>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-secondary" type="button" id="add-user">Add User</button>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>
    document.getElementById("add-user").addEventListener("click", function () {
      var div = document.createElement("div");
      div.classList.add("input-group", "mb-3");
      div.innerHTML = '<input type="text" class="form-control" placeholder="Enter User Email" name="case_users[]" required>' +
        '<select class="form-select" name="case_roles[]" required>' +
        '<option value="" disabled selected>Select Role</option>' +
        '{% for role in roles %}' +
        '<option value="{{ role }}">{{ role }}</option>' +
        '{% endfor %}' +
        '</select>' +
        '<button class="btn btn-secondary" type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode)">Remove User</button>';
      document.getElementById("case_users").appendChild(div);
    });
  </script>
</body>

</html>

{%endblock content%}
{% include 'flash_footer.html' %}