{% extends 'layout2.html'%} {%block content%}
<body>
  <h1 class="text-center">Create Court Case</h1>
  <div class="container-md">
    <form method="POST" action="/api/case_create">
      <div class="mb-3">
        <label for="form_id" class="form-label">Case ID Number</label>
        <input type="text" class="form-control" id="form_id" name="form_id">
      </div>
      <div class="mb-3">
        <label for="form_charge" class="form-label">Case Charge</label>
        <input type="text" class="form-control" id="form_charge" name="form_charge">
      </div>
      <div class="mb-3">
        <label for="form_document" class="form-label">Case Document Title</label>
        <input type="text" class="form-control" id="form_document" name="form_document">
      </div>
      <div class="mb-3">
        <label for="form_level" class="form-label">Case Access Level</label>
        <select class="form-select" id="form_level" name="form_level">
          {% for num in range(1, level + 1) %}
          <option value="{{ num }}">{{ num }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="form_verdict" class="form-label">Case Verdict</label>
        <select class="form-select" id="form_verdict" name="form_verdict">
          <option value="not guilty">Not Guilty</option>
          <option value="guilty">Guilty</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>

{%endblock content%}
