{% extends 'layout2.html'%} {%block content%}
<!-- <body>
  <h1 class="text-center">Create Court Case</h1>
  <div class="container-md">
    <form method="POST" action="/api/case_create">
      <div class="mb-3">
        <label for="form_id" class="form-label">Case ID Number</label>
        <input type="text" class="form-control" id="form_id" name="form_id">
      </div>
      <div class="mb-3">
        <label for="form_charge" class="form-label">Case Charge</label>
        <input type="text" class="form-control" id="form_charge" name="form_charge">
      </div>
      <div class="mb-3">
        <label for="form_document" class="form-label">Case Document Title</label>
        <input type="text" class="form-control" id="form_document" name="form_document">
      </div>
      <div class="mb-3">
        <label for="form_level" class="form-label">Case Access Level</label>
        <select class="form-select" id="form_level" name="form_level">
          {% for role in roles %}
          <option value="{{ role }}">{{ role }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="form_verdict" class="form-label">Case Verdict</label>
        <select class="form-select" id="form_verdict" name="form_verdict">
          <option value="not guilty">Not Guilty</option>
          <option value="guilty">Guilty</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body> -->

<!DOCTYPE html>
<html>

<head>
  <title>Case Information</title>
  {{ ckeditor.load() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
  <div class="container-sm">
    <h1>Case Information</h1>
    <form action="/api/case_create" method="POST">
      <div class="form-group">
        <label for="case_number">Case Number:</label>
        <input type="text" class="form-control" id="case_number" name="case_number" required>
      </div>
      <div class="form-group">
        <label for="case_charge">Case Charge:</label>
        <input type="text" class="form-control" id="case_charge" name="case_charge" required>
      </div>
      <div class="form-group">
        <label for="case_article">Case Article:</label>
        <!-- <input type="text" class="form-control" id="case_verdict" name="case_verdict" required> -->
        <select class="form-select" name="case_article" required>
          <option value="" disabled selected>Select Article</option>
          {% for article in articles %}
          <option value="{{ article }}">{{ article }}</article></option>
          {% endfor %}
        </select>
      </div>
      <br><h5><a href="{{ url_for('document') }}">Click to View or Edit your Case</a></h5>
      <!--
      Link trigger modal 
      <a href="#" class="text-decoration-none text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <u>Who can?</u>
      </a>

      
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Who can edit or add a case?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <ul>
                <li>Public - Can view all documents only after it has become public.</li>
                <li>Lawyer - Can write/create their own briefs and read all others.</li>
                <li>Cleric - Can view all documents and approve/deny any until released.</li>
                <li>Judge - Read/writes the verdict document and can read any docs. </li>
              </ul>            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>-->

      <div class="form-group">
        <label for="case_proceed_number">Case Preceeding Number (Optional):</label>
        <input type="text" class="form-control" id="case_preceed_number" name="case_preceed_number">
      </div>
      <!-- <h2>Add your text</h2>
      {{ ckeditor.create(name="editor") }} -->
      <div class="form-group" id="case_users">
        <label for="case_users">User Emails:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter User Email" name="case_users[]" required>
          <select class="form-select" name="case_roles[]" required>
            <option value="" disabled selected>Select Role</option>
            {% for role in roles %}
            <option value="{{ role }}">{{ role }}</option>
            {% endfor %}
          </select>
          <button class="btn btn-secondary" type="button"
            onclick="this.parentNode.parentNode.removeChild(this.parentNode)">Remove User</button>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-secondary" type="button" id="add-user">Add User</button>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>
    document.getElementById("add-user").addEventListener("click", function () {
      var div = document.createElement("div");
      div.classList.add("input-group", "mb-3");
      div.innerHTML = '<input type="text" class="form-control" placeholder="Enter User Email" name="case_users[]" required>' +
        '<select class="form-select" name="case_roles[]" required>' +
        '<option value="" disabled selected>Select Role</option>' +
        '{% for role in roles %}' +
        '<option value="{{ role }}">{{ role }}</option>' +
        '{% endfor %}' +
        '</select>' +
        '<button class="btn btn-secondary" type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode)">Remove User</button>';
      document.getElementById("case_users").appendChild(div);
    });
  </script>
</body>

</html>


{%endblock content%}