{% extends 'layout1.html' %}

{% block header %}
  <h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="col-md-9 register-right">
  <h3 class="register-heading">Forgot Password</h3>
  <form method="post">
    <div class="row register-form">
      <div class="col-md-6">
        <div class="form-group">
              <input
                type="email"
                name="username"
                id="inputAddress"
                class="form-control"
                placeholder="Enter your email" required
              />
          </div>
        </div>
      <input type="submit" id="PasswordSubmit" class="btnRegister" value="Submit"/>
  </form>
</div>

{% endblock %}