<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/globe.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container-fluid register">
      <div class="row">
        <div class="col-md-3 register-left">
          <a href="/">
            <img src="{{ url_for('static', filename='img/globe.png') }}" alt="Virtual Office" />
          </a>
          <h3><b>V</b>irtual <b>O</b>ffice in the <b>C</b>loud</h3>
          <p>Are you ready?</p>
        </div>
          {%block content%}
          {%endblock content%}
          
          <div class="footer text-white text-center py-3">
            <br>&copy; 2023 Created by Conner Wiench and Shashwot Niraula
          </div>
      </div>
    </div>
  </body>
</html>