{% extends 'layout1.html' %}

{% block content %}
  <h3 class="register-heading">Log In</h3>
  <form id="form-login" action="/api/log_in" method="POST" onsubmit="return validateRecaptcha()">
    <div class="row register-form">
      <div class="col-md-6">
        <div class="form-group">
          <input
            type="email"
            name="loginEmail"
            id="loginEmail"
            class="form-control {% if 'error' in messages %}is-invalid{% endif %}"
            placeholder="Email *"
            value=""
          />
        </div>
        <p><a href="{{ url_for('sign_up') }}">Don't have an account?</a></p>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input
            type="password"
            name="loginPassword"
            id="loginPassword"
            class="form-control {% if 'error' in messages %}is-invalid{% endif %}"
            placeholder="Password *"
            value=""
          />
        </div>
        <p><a href="{{ url_for('forgot') }}">Forgotten password</a></p>
        <div class="form-group">
          {{ form.recaptcha() }}
          <div id="recaptchaError" style="display: none; color: red;">Please complete the reCAPTCHA</div>
        </div>
        <input type="submit" id="loginSubmit" class="btnRegister" value="Log in"/>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li class="{% if 'error' in message %}error-message{% endif %}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
      </div>
      
    </div>
  </form>
  <div class="footer text-black text-center py-3">
    <br>&copy; 2023 Created by Conner Wiench and Shashwot Niraula
  </div>


<script>
  function validateRecaptcha() {
    var response = grecaptcha.getResponse();
    if (response.length == 0) {
        // reCAPTCHA not completed
        document.getElementById("recaptchaError").style.display = "block";
        return false;
    } else {
        // reCAPTCHA completed
        document.getElementById("recaptchaError").style.display = "none";
        document.getElementById("loginSubmit").disabled = false; // enable the login submit button
        return true;
    }
  }
</script>

{% endblock %}
