<!DOCTYPE html>
<html>
  <head>
    <title>VOiC</title>
    <link rel="icon" href="{{ url_for('static', filename='img/globe.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid register">
      <div class="row">
        <div class="col-md-3 register-left">
          <a href="/">
            <img src="{{ url_for('static', filename='img/globe.png') }}" alt="Virtual Office" />
          </a>
          <h3><b>V</b>irtual <b>O</b>ffice in the <b>C</b>loud</h3>
          <p>Are you ready?????</p>
        </div>
        <div class="col-md-9 register-right">
          <h3 class="register-heading">Log In</h3>
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email *" value="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password *" value="" />
              </div>
              <input type="submit" class="btnRegister" value="Log in" />
              <p><a href="{{ url_for('password') }}">Forgotten password</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
