{% extends 'layout1.html'%} {%block content%}
<div class="col-md-9 register-right">
  <h3 class="register-heading">Add your information</h3>
  <div class="row register-form">
    <div class="col-md-6">
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          placeholder="Your Email *"
          value=""
        />
        <a href="{{ url_for('log_in', _anchor='profile') }}">
          <input type="submit" class="btnRegister" value="Send email" />
        </a>
      </div>
    </div>
  </div>
</div>

{%endblock content%}
