<div class="container register">
      <div class="row">
        <div class="col-md-3 register-left">
        <i><img src="static/img/globe.png" alt="Virtual Office" /></i>
          <h3><b>V</b>irtual <b>O</b>ffice in the <b>C</b>loud</h3>
          <p>Are you ready?</p>
          <input type="submit" name="" value="Login" /><br />
        </div>
        <div class="col-md-9 register-right">
          <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Sign up</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >Log in</a
              >
            </li>
          </ul>